h1 {
    text-align: center;
    color: white;
    padding-top: 3rem;
    font-size: 2rem;
}

.hero-container {
    background: rgba(231, 231, 231, 0.459) url(../../assets/hero-image.jpg);
    height: 96.1vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search {
    width: 50vw;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

img {
    height: 3.5rem;
}

.navbar-nav {
    a {
        color: rgb(14, 14, 14);
    }

    a:hover {
        color: rgb(221, 221, 221);
    }
}