h1 {
    text-align: center;
    color: white;
    padding: 4.5rem 2rem 0 2rem;

    font-size: 2.1rem;
}

.hero-container {
    background: rgba(231, 231, 231, 0.459) url(../../assets/hero-image.jpg);
    height: 96.1vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search {
    width: 60vw;
    margin: 0 auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.20);
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

img {
    height: 3.5rem;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.397);
}

.navbar-nav {
    a {
        color: rgb(32, 32, 32);
    }

    a:hover {
        color: rgb(22, 22, 22);
        background-color: rgba(255, 255, 255, 0.623);
        border-radius: 3px;
    }
}

.hamburger {
    display: none;
}

@media (max-width: 600px) {
    .navbar {
        background-color: rgba(255, 255, 255, 0);
        padding-left: 0;
    }

    .navbar-nav { 
        display: none;
    }

    .hamburger {
        position: absolute;
        right: 18px;
        top: 18px;
        display: block;
        color: white;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .search { 
        width: 75vw;
    }
}