<div class="mb-3">
    <div class="card my-4 box-link">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="bd-placeholder-img">
                    <a [routerLink]="['/advertdetail', advert.id]"><img [src]="advert.headlineImage" alt="" /></a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h1 class="card-title h4">{{ advert.price | currency: "ZAR":"symbol-narrow" }}</h1>
                <a class="card-text h5" [routerLink]="['/advertdetail', advert.id]">{{ advert.title }}</a>
                <p class="card-text">{{ advert.details | truncateText: 275 }}</p>
                <p>{{ advert.province }}, {{ advert.city}}</p>
                <div class="icon-cont-max">
                    <div class="icons">
                        <div class="icon-container">
                            <i class="fa fa-solid fa-bed"></i>
                            <span>{{ advert.bedrooms }}</span>
                        </div>
                        <div class="icon-container">
                            <i class="fa fa-solid fa-toilet"></i>
                            <span>{{ advert.bathrooms }}</span>
                        </div>
                        <div class="icon-container">
                            <i class="fa fa-solid fa-car"></i>
                            <span>{{ advert.parkingSpaces }}</span>
                        </div>
                    </div>
                    <mat-icon (click)="toggleFavourite(advert.id)">{{ isFavourite ? "favorite" : "favorite_border"}}</mat-icon>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
