<div class="col-md-6 offset-md-3 mt-5">
  <h4 class="text-center">Register</h4>

  <div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            type="text"
            name="forenames"
            formControlName="forenames"
            class="form-control"
            placeholder="Forenames"
            autocomplete="off"
            [ngClass]="{ 'is-invalid': message && message.forenames }"
          />
          <span class="invalid-feedback">
            <span>
              {{ message.forenames }}
            </span>
          </span>
        </div>

        <div class="form-group">
          <input
            type="text"
            name="surname"
            formControlName="surname"
            class="form-control"
            placeholder="Surname"
            autocomplete="off"
            [ngClass]="{ 'is-invalid': message && message.surname }"
          />
          <span class="invalid-feedback">
            <span>
              {{ message.surname }}
            </span>
          </span>
        </div>
        <div class="form-group">
          <input
            type="email"
            name="email"
            formControlName="email"
            class="form-control"
            placeholder="Email"
            autocomplete="off"
            [ngClass]="{ 'is-invalid': message && message.email }"
          />
          <span class="invalid-feedback">
            <span>
              {{ message.email }}
            </span>
          </span>
        </div>

        <div formGroupName="passwords">
          <div class="form-group">
            <div class="input-group">
              <input
                [type]="fieldTextType ? 'text' : 'password'"
                name="password"
                formControlName="password"
                class="form-control"
                placeholder="Password"
                autocomplete="off"
                [ngClass]="{ 'is-invalid': message && message.password }"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <a
                    ><i
                      (click)="toggleFieldTextType()"
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                    ></i
                  ></a>
                </span>
              </div>
              <span class="invalid-feedback">
                <span>
                  {{ message.password }}
                </span>
              </span>
            </div>

            <a class="form-text text-muted" (click)="showPassRequirements()"
              ><small>
                {{ passRequirements ? "Hide" : "View" }} password requirements.
              </small></a
            >
          </div>

          <div class="form-group">
            <div class="input-group">
              <input
                [type]="fieldTextType ? 'text' : 'password'"
                name="confirmPass"
                formControlName="confirmPass"
                class="form-control"
                placeholder="Confirm Password"
                autocomplete="off"
                [ngClass]="{ 'is-invalid': message && message.passwords }"
              />
              <div class="input-group-append">
                <span class="input-group-text">
                  <a
                    ><i
                      (click)="toggleFieldTextType()"
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                    ></i
                  ></a>
                </span>
              </div>
              <span class="invalid-feedback">
                <span>
                  {{ message.passwords }}
                </span>
              </span>
            </div>
          </div>
        </div>

        <button type="submit" name="submit" class="btn btn-secondary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          {{ loading ? "Registering" : "Register" }}
        </button>

        <div class="alert alert-danger mt-3" *ngIf="invalidSubmit">
          Please ensure all fields are completed correctly.
        </div>
      </form>

      <div class="mt-3">
        <a class="mt-3 text-dark" routerLink="/login">Login Instead</a>
      </div>

      <div class="alert alert-info mt-4" *ngIf="passRequirements">
        <ul>
          <li>
            <small
              >Your password needs to be between 8 and 100 characters in
              length.</small
            >
          </li>
          <li><small>Your password cannot contain spaces.</small></li>
          <li>
            <small>Your password must contain at least one number.</small>
          </li>
          <li>
            <small
              >Your password must contain at leat one uppercase
              character.</small
            >
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
