<div class="container">
  <form action="" [formGroup]="editPasswordForm">
    <h2>Change your password</h2>
      <div class="form-group">
          <div class="input-group">
              <input
              [type]="fieldTextType ? 'text' : 'password'"
              name="currentPassword"
              id="currentPassword"
              class="form-control"
              formControlName="currentPassword"
              placeholder="Current Password"
              autocomplete="off"
              [ngClass]="{
              'is-invalid': validationMessage && validationMessage.currentPassword
              }"
              />
              <div class="input-group-append">
                  <span class="input-group-text">
                    <a
                      ><i
                        (click)="toggleFieldTextType()"
                        class="fa"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }"
                      ></i
                    ></a>
                  </span>
              </div>
              <span class="invalid-feedback">
                <span>
                {{ validationMessage.currentPassword }}
                </span>
            </span>
          </div>
          
          </div>
          
          <div formGroupName="passwords">
          <div class="form-group">
              <div class="input-group">
              <input
              [type]="fieldTextType ? 'text' : 'password'"
              name="password"
              id="password"
              class="form-control"
              formControlName="password"
              placeholder="Password"
              autocomplete="off"
              [ngClass]="{
                  'is-invalid': validationMessage && validationMessage.password
              }"
              />
                  <div class="input-group-append">
                      <span class="input-group-text">
                        <a
                          ><i
                            (click)="toggleFieldTextType()"
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                          ></i
                        ></a>
                      </span>
                  </div>
                  <span class="invalid-feedback">
                    <span>
                        {{ validationMessage.password }}
                    </span>
                  </span>
              </div>
          </div>
      
          <div class="form-group">
              <div class="input-group">
                  <input
                  [type]="fieldTextType ? 'text' : 'password'"
                  name="confirmPass"
                  id="confirmPass"
                  class="form-control"
                  formControlName="confirmPass"
                  placeholder="Confirm Password"
                  autocomplete="off"
                  [ngClass]="{
                      'is-invalid': validationMessage && validationMessage.confirmPass || validationMessage.passwords
                  }"
                  />
                  <div class="input-group-append">
                      <span class="input-group-text">
                        <a
                          ><i
                            (click)="toggleFieldTextType()"
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                          ></i
                        ></a>
                      </span>
                  </div>
                  <span class="invalid-feedback">
                    <span>
                        {{ validationMessage.confirmPass }}
                    </span>
                    <span>
                      {{ validationMessage.passwords }}
                  </span>
                  </span>
              </div>
              
          </div>
      </div>
  
      <div class="action-container">
        <button
        type="submit"
        name="submit"
        class="btn btn-outline-success btn-md btn-block"
        (click)="updatePassword()"
        >
          Save
        </button>
        <a
          class="btn btn-outline-danger btn-md btn-block"
          (click)="closeDialog()"
        >
          Cancel
        </a>
      </div>
      
  </form>
</div>    