<div class="container">
    <ul>
        <li>
            <small>Your password needs to be between 8 and 100 characters in length.</small>
        </li>
        <li>
            <small>Your password cannot contain spaces.</small>
        </li>
        <li>
            <small>Your password must contain at least one number.</small>
        </li>
        <li>
            <small>Your password must contain at leat one uppercase character.</small>
        </li>
    </ul>

    <button mat-dialog-close class="btn btn-info">Got it!</button>
</div>