img {
    height: 3.5rem;
}

a:hover {
    background: rgb(235, 235, 235);
}

img:hover {
    cursor: pointer;
}

.hamburger {
    display: none;
}

@media (max-width: 600px) {
    .navbar-nav { 
        display: none;
    }

    .hamburger {
        display: block;
        color: black;
    }

    .hamburger:hover {
        cursor: pointer;
    }
}