<div  *ngIf="adverts" class="container">
    <h1>Your favourite adverts</h1>

    <div class="no-adverts" *ngIf="adverts.length == 0">
      <h2 *ngIf="isLoading">Finding your favourtites...</h2> 
      <h2 *ngIf="!isLoading">You currently have no favourites.</h2>
      <button *ngIf="!isLoading" class="btn btn-info" [routerLink]="['/alladverts']">Browse adverts</button>
    </div>

    <div class="adverts-container">
        <div class="mb-3" *ngIf="adverts && adverts.length > 0">
            <div *ngFor="let advert of adverts">
              <app-advert-card-large [advert]="advert"></app-advert-card-large>
            </div>
          </div>
    </div>
</div>
