<div class="contact-card">
    <h5 class="">Contact Seller</h5>
    <form action="" [formGroup]="contactSellerForm">
      <div class="form-group">
        <input formControlName="name" 
             placeholder="Your name" 
             class="form-control" 
             type="text" 
             [ngClass]="{ 'is-invalid': validationMessage && validationMessage.name }">
        <span class="invalid-feedback">
          {{ validationMessage.name }}
        </span>
      </div>
      <div class="form-group">
        <input formControlName="email" 
                placeholder="Your email" 
                class="form-control" 
                type="text" 
                [ngClass]="{ 'is-invalid': validationMessage && validationMessage.email }">
        <span class="invalid-feedback">
          {{ validationMessage.email }}
        </span>
      </div>
      <div class="form-group">
        <input formControlName="contactNumber" 
                placeholder="Your cell number" 
                class="form-control" 
                type="text"
                [ngClass]="{ 'is-invalid': validationMessage && validationMessage.contactNumber }">
        <span class="invalid-feedback">
          {{ validationMessage.contactNumber }}
        </span>
      </div>
      <div class="form-group">
        <textarea formControlName="message" 
                  placeholder="Your message" 
                  class="form-control"
                  [ngClass]="{ 'is-invalid': validationMessage && validationMessage.message }">
        </textarea>
        <span class="invalid-feedback">
          {{ validationMessage.message }}
        </span>
      </div>
      
      
      <button class="btn btn-outline-dark btn-sm btn-block" (click)="contactClick()">Send</button>
    </form>
  </div>