.contact-card {

    h5 {
      margin: 1rem 0;
      font-size: 1.2rem;
      text-align: center;
    }
  
    form {
      width: 90%;
      margin: 0 auto;
  
      input {
        height: 2rem;
      }
  
      textarea {
        height: 8rem;
      }
    }
  }