
.container {
    min-height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20vw;
}

form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-group {
        width: 100%;
    }

    .btn {
        min-width: 8rem;
    }
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 1560px) {
    .container {
        max-width: 40vw;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 80vw;
    }
}