<div class="container">
  <div class="mt-4">
    <h1>My Adverts</h1>

    <div class="no-adverts" *ngIf="adverts.length == 0">
      <h2 *ngIf="loading">Finding your adverts...</h2>
      <h2 *ngIf="!loading">You currently have no adverts listed.</h2>
      <button *ngIf="adverts.length == 0" class="btn btn-info" [routerLink]="['/editadvert', 0]">Create New Advert</button>
    </div>
    
    <div class="mb-3" *ngIf="adverts">
      <app-advert-card-large *ngFor="let advert of adverts" [advert]="advert"></app-advert-card-large>
      <button *ngIf="adverts.length > 0" class="btn btn-info" [routerLink]="['/editadvert', 0]">Create New Advert</button>
    </div>
    
  </div>
</div>
