<div [ngClass]="assignClass()">

    <form action="" class="form" (ngSubmit)="onSearch()" [formGroup]="searchForm">
      <div class="filters">
        <mat-form-field>
          <mat-select name="province" id="" placeholder="Province" formControlName="province">
            <mat-option [value]="prov" *ngFor="let prov of provinces">{{ prov }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-select placeholder="City" name="city" id="" formControlName="city" >
            <mat-option [value]="city" *ngFor="let city of cities">{{ city }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-select name="minPrice" id="" placeholder="Min Price" formControlName="minPrice">
            <mat-option [value]="price" *ngFor="let price of prices">{{ price }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-select name="maxPrice" id="" placeholder="Max Price" formControlName="maxPrice">
            <mat-option [value]="price" *ngFor="let price of prices">{{ price }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="bottom-row">
        <mat-form-field>
          <input matInput
            type="text"
            placeholder="Search term..."
            formControlName="keyword"
            class="search-bar"
          />
        </mat-form-field>

        <div class="buttons">
          <button type="button" mat-dialog-close class="btn btn-light search" (click)="onSearch()">Search</button>
          <button type="button" class="btn btn-light reset" (click)="resetClick()">Reset</button>
        </div>
      </div>

  </form>
</div>
