<div class="container">
  <div class="mt-4">
    <h1>All Adverts</h1>
    
    <app-search class="search-bar"></app-search>

    <div class="d-flex flex-column align-items-end">
      <div class="btn-group">
        <button class="btn btn-info search-button" (click)="openSearchModal()">Search</button>
        <button
          type="button"
          class="btn btn-info dropdown-toggle sort-button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Order-by : {{ orderBy }}
        </button>
        <div class="dropdown-menu">
          <a
            class="dropdown-item"
            (click)="orderChoice('Descending')"
            [ngClass]="{ active: isAscending === false }"
            >Price: High-to-Low</a
          >
          <a
            class="dropdown-item"
            (click)="orderChoice('Ascending')"
            [ngClass]="{ active: isAscending === true }"
            >Price: Low-to-High</a
          >
        </div>
      </div>
    </div>

    
    <div class="no-adverts" *ngIf="adverts.length == 0">
      <h2 *ngIf="loading">Finding adverts...</h2>
      <h2 *ngIf="!loading">There aren't any adverts that meet your search criteria.</h2>
    </div>

    <div class="mb-3" *ngIf="adverts && adverts.length > 0">
      <app-advert-card-large *ngFor="let advert of adverts" [advert]="advert"></app-advert-card-large>
    </div>
    
  </div>
</div>
