.container {
  padding-bottom: 2rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}

.detail-container {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;

  .top-part {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  h2 {
    margin: 0;
  }
}

.advert-details {
  margin-top: 1.5rem;
}

.img-container {
  width: 100%;
  height: 32rem;

  img {
    width: 80%;
    height: 100%
  }
}

mat-divider {
  margin-top: 1rem;
  border-top-width: 1.5px;
}

.fas {
  font-size: 2rem;
}

.icons {
  display: flex;

  .icon-container {
    padding-right: 9px;
    display: flex;
    flex-direction: row;
  
    i {
        padding-right: 3px;
        font-size: 18px;
        color: rgb(100, 100, 100);
    }
  }
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-icon {
    padding-left: 4px;
  }
}

.img-preview-container {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  column-gap: 10px;

  .img-preview {
    position: relative;
    flex-basis: 20%;
  }

  .img-preview:hover {
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position:absolute;
  top:0px;
  left:0px;
  background-color: rgba(255, 255, 255, 0.365);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.contact-btn {
  display: none;
}

.part-width {
  width: 75%;
}

.full-width {
  width: 100%;
}

@media (max-width: 980px) {

  .detail-container {
    width: 100%;

    .top-part {
      flex-direction: column;

      button {
        margin-top: 10px;
      }
    }

  }

  .content-container {
    flex-direction: column;
  }
 
  .img-container {
    width: 100%;
    height: 13rem;
    text-align: center;

    img {
      width: 90%;
    }

    a {
      display: none;
    }
  }

  app-contact-form {
    display: none;
  }

  .contact-btn {
    display: block;
  }
}