<div class="container grid-container mt-4" *ngIf="advert">

  <div *ngIf="imagesLoaded">
    <div class="img-container">
      <a><i class="fas fa-chevron-left mr-5" (click)="cycleBackward()"></i></a>
      <img [src]='advert.headlineImage' alt="" />
      <a><i class="fas fa-chevron-right ml-5" (click)="cycleForward()"></i></a>
    </div>
  
    <div class="img-preview-container">
      <div *ngFor="let img of advert.images" class="img-preview" (click)="selectImage(img)"><div [ngClass]="imgOverlay(img)"></div><img [src]="img"/></div>
    </div>
  </div>
  

  <div *ngIf="!isLoading" class="content-container">
    <div class="detail-container" [ngClass]="advertDetailWidth">
      <div class="top-part">
        <div>
          <h2>{{ advert.title }}</h2>
          <h1>{{ advert.price | currency: "ZAR":"symbol-narrow" }}</h1>
          <p class="">{{ advert.province }}, {{ advert.city }}</p>
  
          <div class="icons">
            <div class="icon-container">
              <i class="fa fa-solid fa-bed"></i>
              <span>{{ advert.bedrooms }}</span>
            </div>
            <div class="icon-container">
              <i class="fa fa-solid fa-toilet"></i>
              <span>{{ advert.bathrooms }}</span>
            </div>
            <div class="icon-container">
              <i class="fa fa-solid fa-car"></i>
              <span>{{ advert.parkingSpaces }}</span>
            </div>
          </div>
        </div>
        <button *ngIf="authUser" class="btn btn-outline-info btn-sm" (click)="toggleFavourite()">{{ isFavourite ? "Remove from favourites" : "Add to favourites" }}
          <mat-icon>{{ isFavourite ? "favorite" : "favorite_border"}}</mat-icon>
        </button>
        <button *ngIf="!userIsSeller" class="btn btn-outline-info btn-sm contact-btn" (click)="openContactDialog()">Contact seller</button>
      </div>
      
      <mat-divider></mat-divider>

      <div class="advert-details">
          <p style="white-space: pre-line" [innerHtml]="advert.details"></p>
      </div>
    </div>

    <app-contact-form *ngIf="!userIsSeller"></app-contact-form>

  </div>
</div>